</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<h1 class="mt-4">Adicionar / editar serviço</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
						<li class="breadcrumb-item active"><a th:href="@{/organizacao/estoque}">Estoque</a></li>
						<li class="breadcrumb-item active">Adicionar serviço</li>
					</ol>
				</div>
				<div class="card-body">
					<h4>Preencha as informações abaixo para adicionar ou editar um
						item no estoque</h4>
					<br>
					<form th:action="@{/organizacao/estoque/save}" th:object="${produto}" method="POST">
						<div class="form-row">
							<input type="hidden" name="produtoId" th:value="${produto.id}">
							<div class="col-md-5 mb-3">
								<label for="validationDefault01">Descrição do item, produto ou despesa</label> <input type="text"
									class="form-control" id="descricaoProduto" placeholder="Lixa de unha" required
									th:field="*{descricaoProduto}">
							</div>
							<div class="col-md-2 mb-3">
								<label for="validationDefault05">Valor Total (R$)</label> <input type="text"
									class="form-control" id="valor" placeholder="R$ 45" required
									th:field="*{valor}">
								<td>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-3 mb-3">
								<label for="validationDefault04">Status pagamento</label> <select class="custom-select"
									th:field="*{statusPagamento}">
									<option
										th:each="statusPagamento : ${T(com.salaoarrazus.domain.model.enums.StatusPagamento).values()}"
										th:value="${statusPagamento}" th:text="${statusPagamento}"></option>
								</select>
							</div>
							<div class="col-md-3 mb-3">
								<label for="validationDefault01">Data compra</label> <input type="datetime-local"
									class="form-control" id="data" placeholder="00/00/0000 00:00"
									required th:field="*{data}">
							</div>
							<div class="col-md-4 mb-3">
								<label for="validationDefault04">Fornecedor do item / produto</label> <select class="custom-select"
									th:field="*{fornecedor.id}" id="fornecedores" placeholder="45">
									<option th:value="-1">n/a</option>
									<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.id}"
										th:text="${fornecedor.nome}"></option>
								</select>
							</div>
						</div>
						<br>
						<!-- Button trigger modal -->
						<button type="submit" class="btn btn-primary" id="btn-salvar">Salvar
							dados</button>
					</form>
				</div>
			</main>
		</div>
	</div>
	<script src="
											https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous">

											</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		<script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>

	<!-- Modal Salvar-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>